<!--The content below is only a placeholder and can be replaced.-->

  <form (submit) = 'makeNewCake()'>
    <input  [(ngModel)] = 'newCake.baker' type = 'text' name = 'baker' placeholder = 'Baker Name'>
    <input [(ngModel)] = 'newCake.url' type = 'text' name = 'url' placeholder = 'Cake URL' >
    <input type = 'submit' value = 'Submit My Cake!'>
  </form>
<br>
<br>
<br>
<br>
<br>
<div id = 'allCakes' *ngIf = 'allCakes'>
  <div *ngFor = 'let cake of allCakes'>
    <img (click) = 'viewCake(cake._id)' src = "{{cake.url}}">
    <br>
    <form (submit) = 'addNewReview(cake._id)'>
      <select [(ngModel)] = 'newReview.stars' name = 'stars'>
        <option value = '1'>1 Star</option>
        <option value = '2'>2 Stars</option>
        <option value = '3'>3 Stars</option>
        <option value = '4'>4 Stars</option>
        <option value = '5'>5 Stars</option>
      </select>
      <input [(ngModel)] = 'newReview.comment' name = 'comment' type = 'text' placeholder = 'Comment'>
      <input type = 'submit' value = 'Add Your Review'>
    </form>
    <br>
    <br>
    <br>
  </div>
</div>
<app-cake *ngIf = 'currentCakeForNested.id != ""' [cakeToShow] = 'currentCakeForNested'></app-cake>


<router-outlet></router-outlet>
